.navbar{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.btn{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot{
    width: 200px;
    height: 100px;
    font-size: xx-large;
}
body{
    background-image: url("../imgs/pink-e-cc3a9rebro-png.png");
    background-repeat: no-repeat;
    background-position: 10% 25%;
    background-size: cover;
}
*{
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto Mono', monospace;  
}